@inherits LayoutComponentBase

<MudThemeProvider 
@bind-IsDarkMode="_isDarkMode" 
@ref="_mudThemeProvider"
Theme="Configuration.Theme"/>
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        <h3>Formulário de Cadastro de Clientes Prime Tech</h3>
        <MudSpacer />
        <MudSwitch @bind-Value="_isDarkMode" />
    </MudAppBar>
    <MudMainContent>
        <MudContainer>
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private bool _isDarkMode = false;
    private MudThemeProvider _mudThemeProvider = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            await _mudThemeProvider.WatchSystemPreference(OnSystemPreferenceChanged);
            StateHasChanged();
        }
    }
    private Task OnSystemPreferenceChanged(bool newValue)
    {
        _isDarkMode = newValue;
        StateHasChanged();
        return Task.CompletedTask;
    }
}